<div class="articles container">

    {{#each articles }}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">{{title}}</h3>
      </div>
      <div class="panel-body">
        <a class="artLink" href={{link}}>{{link}}</a>
        <button data-id={{_id}} class="btn btn-danger pull-right save-article">Save Article</button>
        {{!-- Delete button changes from saved = true tp saved = false --}}
        <button data-id={{_id}} class="btn btn-danger pull-right delete-article">Delete Article</button>
        {{!-- Add note button opens a note modal --}}
        <button data-id={{_id}} class="btn btn-danger pull-right add-note">Add a Note</button>
      </div>
    </div>
    <br />
    <br />
    {{/each}}

</div>

{{!-- Will make modal pop up --}}
{{>modal}}
